[2015-04-17 11:45] jnehring opened #1 "Implement conversion plaintext -> plaintext inside NIF / JSON LD"
Implement a converter from plaintext to NIF encoded as JSON LD

[2015-04-30 08:55] #1 closed, assigned to jnehring

[2015-04-30 08:57] jnehring opened #2 "Implement serialize / unserialize RDF"
ConversionServices need a module that can unserialize RDF from various formats to Jena model and serialize the Jena model to various RDF formats.

[2015-05-27 14:29] #2 closed, assigned to nobody

[2015-07-29 13:29] ghsnd opened #3 "Add content type to RDFConstants"
The enum `eu.freme.conversion.rdf.RDFConstants.RDFSerialization` contains some constants used to determine serialization formats. Would it make sense to add the content type to this constants, so that they can easily be used as input parameters? This way, there is one central point to get the content type of a certain serialization.

My suggestion:

[code]

Getting the right content type:

[code]

[2015-07-29 13:56] #3 closed, assigned to nobody

[2015-10-01 08:31] jnehring opened #4 "Move persistence layer to FREMECommon"

[2015-10-01 09:10] jnehring commented on #4
Done

@ArneBinder please note

[2015-10-01 09:10] #4 closed

[2015-10-01 09:48] jnehring opened #5 "Add template persistence codes"
Move Template persistence codes from your broker branch to FREMECommon.

[2015-10-01 09:51] jnehring opened #6 "Update User and Token Tests"
Currently they are @Ignored

Please update them with the new version from your branch and integrate the EntityManager.

[2015-10-01 13:59] #5 closed

[2015-10-01 15:11] jnehring commented on #5
thanks good work

[2015-10-01 16:00] ArneBinder commented on #6
Done.

[2015-10-02 07:24] jnehring commented on #6
Something is still wrong with TokenRepositoryTest. See this text
[code]

From this build of FREME common: http://rv1443.1blu.de:8082/job/FREMECommon/63/console

[2015-10-06 17:26] ArneBinder commented on #6
I don't know, what's going wrong on jenkins, but I can not reproduce this error at my local machine. @jnehring Is there any way, that more than the one user created in the TokenRepositoryTest is in the database used for testing on jenkins? The test fails, because there are 3 users (after deletion of one token of the one created user) instead of the assumed one... We could do a workaround and save

[2015-10-07 07:47] jnehring commented on #6
I will take a look at this.

[2015-10-08 08:58] jnehring commented on #6
Done. @ArneBinder please check if the same problem can occur in UserRepositoryTest, then close issue.

[2015-10-08 10:59] ArneBinder commented on #6
Checked and added deletion of generated users.

[2015-10-08 10:59] #6 closed

[2015-10-08 17:22] ArneBinder opened #7 "change type of OwnedResource.id to integer"

[2015-10-08 17:36] ArneBinder opened #8 "Providing the owner of a template"
Should we do this? A template naturaly does not know anything about it's owner...

[2015-10-09 08:16] jnehring commented on #7
Before you commit this to the master branch we have to make a backup of the database. I do not know how hibernate reacts to this change and I would like to avoid data loss.

[2015-10-09 08:17] jnehring commented on #8
I am not exactly sure what you mean.

Maybe the question is: Should the API endpoints GET /e-link/templates and GET /e-link/templates/{id} return the owner of the template. Then my answer is: Yes please implement it. The endpoints should just return the owner name as string and not the whole user object.

[2015-10-13 12:59] ArneBinder commented on #8
Ok I implement it like you said.

[2015-10-13 13:19] ArneBinder commented on #8
Implemented for outformat=JSON (other outformats aren't adapted, bacause of [this issue](https://github.com/freme-project/e-Link/issues/48)).

[2015-10-13 13:19] #8 closed

[2015-10-13 13:58] ArneBinder opened #9 "Enhance Dataset with fields"
Add fields:
name
description
TotalEntities
CreationTime

[2015-10-13 13:59] ArneBinder opened #10 "Add Dataset unit test"

[2015-10-13 17:08] ArneBinder commented on #7
Implemented.

[2015-10-13 17:08] #7 closed

[2015-10-13 17:32] ArneBinder commented on #9
implemented

[2015-10-13 17:32] #9 closed

[2015-10-13 18:05] ArneBinder commented on #10
implemented.

[2015-10-13 18:05] #10 closed

[2015-10-22 10:14] ArneBinder opened #11 "switch to autoincrement via @GeneratedValue for OwnedResource.id"
this should resolve https://github.com/freme-project/e-Link/issues/52

[2015-10-22 14:08] ArneBinder opened #12 "use new field "createTime" instead of id in pipelineDAO and elsewhere"
In order to implement #11 there should be no other use of the id.

Please assgin to me, when implemented.

[2015-10-22 14:31] jnehring commented on #12
@ArneBinder can we add the createtime to all ownedresources?

[2015-10-22 14:38] ArneBinder commented on #12
Of course. I will implement this.

[2015-10-22 18:21] ghsnd commented on #12
Now it is implemented so that the pipelines make use of the field "createTime" in stead of "id". The id still exists and is used as before, except that it doesn't mean time of creation anymore. Or should the id as it is now completely dissapear?

[2015-10-27 10:12] ArneBinder commented on #12
Thanks, I also fixed [this line](https://github.com/freme-project/FREMECommon/blob/master/src/main/java/eu/freme/common/persistence/dao/PipelineDAO.java#L47).

No, it's all right. Now we can add auto increment via hibernate to the id what should fix https://github.com/freme-project/e-Link/issues/52

[2015-10-27 12:40] #12 closed

[2015-10-27 15:28] #11 closed

[2015-12-15 15:12] jnehring opened #13 "Untangle RDFConstants"
The class eu.freme.common.conversion.rdf.RDFConstants should hold only constants around RDF. Somehow it grew to hold many mime types that have nothing to do with RDF. We should untangle this to have a clear separation.

Since this might involve code changes all over FREME we should do it during specification of FREME 0.6.

[2016-01-05 12:28] jnehring opened #14 "Make FREME compatible with NIF specification"
The [NIF API specifiactions](http://persistence.uni-leipzig.org/nlp2rdf/specification/api.html) say that `rdfxml` and `ntriples` are valid values for parameters informat and outformat. FREME uses the values `rdf-xml` and `n-triples`.

We should add the values from the NIF specification to class RDFSerializationFormats . For downwards compatibility we should also support the old values.

I think we

[2016-01-05 15:02] #14 closed

[2016-01-22 15:09] ArneBinder opened #15 "write a readme paragraph about OwnedResource"
write a readme paragraph about OwnedResources covering the following topics:
* creation of new model/DAO/repository classes
* building a controller
* testing the controller

@jnehring ok?

[2016-02-03 15:03] jnehring commented on #15
This paragraph should be part of the article in https://github.com/freme-project/Documentation/issues/144

[2016-02-16 13:35] jnehring opened #16 "Add methods to OwnedResource"
* hasReadAccess()
* hasWriteAccess()
* Document these in the article written in https://github.com/freme-project/FREMECommon/issues/15

Implement this in the new architecture only.

[2016-02-16 18:12] ArneBinder commented on #16
TODO: document

[2016-02-17 11:57] ArneBinder opened #17 "persistence: remove all child objects when user is removed"
because of implementation of https://github.com/freme-project/basic-services/issues/22 this does not work anymore. The User model can not contain references to the child objects and infere orphanremoval automaticaly because they are not in the "main" FREMECommon anymore.

It should be done via an query against the entityManager in the UserDAO.

[2016-02-22 11:35] jnehring opened #18 "Removed dependency on persistence-api"
I removed dependency on javax.persistence.persistence-api in [this commit](https://github.com/freme-project/FREMECommon/commit/32e4971bb27f60abbdb1dcbf17e3cfdb4efa5c6f). FREME packages can no longer start with this jar file on the class path.

@ArneBinder you added this dependency. Please check if you need it.

[2016-02-22 12:31] jnehring opened #19 "Re-integrate commits"
During the bugfix of #18 I undid two commits by @ArneBinder

https://github.com/freme-project/FREMECommon/commit/f28392b2371830cf628869ecfa559c7636611fff
https://github.com/freme-project/FREMECommon/commit/77d0365e96ff2162cc6ffe17b8d1fb95ee3b8ebc

These need to be re-integrated except for the dependency (see #18)

[2016-02-22 14:37] jnehring commented on #19
done

[2016-02-22 14:37] #19 closed

[2016-02-22 15:01] ArneBinder commented on #18
@jnehring I'm really sorry for this, it was an error of my IDE. It could not resolve this dependeny. I deleted my whole local repository, now it works.

[2016-02-22 15:03] #18 closed

[2016-02-22 15:04] jnehring commented on #18
no problem ;)

[2016-02-22 15:57] jnehring commented on #17
I added the @ OnDelete  annotation to OwnedResource. Now every OwnedResource should get deleted automatically when the owner gets deleted.

[2016-02-22 15:57] #17 closed

[2016-02-23 22:58] ArneBinder commented on #15
finished. @jnehring can we close this?

[2016-02-24 00:03] ArneBinder commented on #16
done

[2016-02-24 00:03] #16 closed

[2016-02-24 10:27] jnehring commented on #15
thank you

[2016-02-24 10:27] #15 closed

[2016-04-05 12:15] ArneBinder opened #20 "[freme-dev] OwnedResource entities not accessible"
Templates, pipelines and filters are not accessible. But the database contains entities.

[2016-04-05 13:51] jnehring commented on #20
Probably the problem originates from within https://github.com/freme-project/freme-packages/issues/9 . Right now freme-dev uses an in-memory database which is cleared after every restart.

[2016-04-05 14:07] jnehring commented on #20
problem solved through solving https://github.com/freme-project/freme-packages/issues/9

[2016-04-05 14:12] jnehring commented on #20
The problem was solved only for e-link templates, not for pipelines and filters.

[2016-04-05 16:13] ArneBinder commented on #20
Fixed the filters. We renamed the entity to `sparqlconverter` some weeks ago. I imported the content of the table `filter` into `sparqlconverter`. Can we delete the `filter` table?

[2016-04-05 17:03] ArneBinder commented on #20
Fixed pipelines, also this db schema changed a bit.

Summed up steps to migrate to **achitecture-update**:
* filter/sparqlconverter:
  * just rename table `filter` to `sparqlconverter`
* pipeline:
  * rename column `serializedRequests` to `requests`
  * change datatype of `id` and `creation_time` to `BIGINT(20)`

[2016-04-06 07:53] jnehring opened #21 "Update live database schema"
Before the release of FREME 0.6 we have to update the dababase schema of pipelines and sparql filters according to https://github.com/freme-project/FREMECommon/issues/20

Holds for datasets also

[2016-04-06 07:57] jnehring commented on #20
We need to perform the same changes in the database schema before the release of freme 0.6, so I created https://github.com/freme-project/FREMECommon/issues/21. i deleted the filter table. This issue is done.

[2016-04-06 07:57] #20 closed

[2016-04-26 07:28] jnehring opened #22 "Too many open files"
FREME live becomes unstable after running for a while with this error:

[code]

It happened two weeks ago and now it happened again. The problem can be solved through restarting freme-live.

I backuped the log files (around 500 mb or error logs) in ~/logs-open-files on freme-live. I guess the problem is an open file handle or stream that is not closed properly. When this happened 20.000 times then

[2016-04-26 14:59] jnehring commented on #21
Please check the list of database changes from https://github.com/freme-project/FREMECommon/issues/20#issuecomment-205897368 and see if I need to update something else.

[2016-04-26 15:39] ArneBinder commented on #21
I have checked the list, it is still correct. Furthermore, the empty tables `dataset` and `dataset_simple` can be removed.

[2016-04-29 09:37] jnehring commented on #21
done during yesterdays release

[2016-04-29 09:37] #21 closed

[2016-05-09 08:35] jnehring commented on #22
The bug happend again. We should fix it soon.

[2016-05-11 09:50] jnehring commented on #22
I can test the issue by starting FREME on ubuntu and using this command to count the number of open file handles:

[code]

where 3919 is the process id of freme.

The number of file handles increases with each API call that uses e-Internationalisation. I could two streams that where not closed properly that reduces the number of open streams by each API call from 3 to 1.

Next step: Find the last

[2016-05-26 16:10] ArneBinder commented on #22
This does not solve https://github.com/freme-project/basic-services/issues/32.

[2016-05-30 15:37] jnehring commented on #22
I tested it. The problem is fixed. Great!

[2016-06-07 07:18] jnehring opened #23 "Delete user does not work"
It does not work when a template is assigned to the user. We need to test also with datasets, tokens, filters.

[2016-06-15 13:22] jnehring commented on #13
We will leave the code as is because I worry that changing this will cause problems in DKT project.

[2016-06-15 13:22] #13 closed

[2016-07-11 12:46] jnehring commented on #23
This used to work before. I will check what went wrong.

[2016-07-12 07:53] jnehring opened #24 "Simplify maven version management"
I want to make the version management of FREME more simple. I want to define default versions for all FREME artifacts in freme-parent. So the version of freme-parent determines the version numbers of all FREME artifacts. This has advantages:

* Each version of freme-parent defines versions that are compatible to each other.
* It is easier to create and update FREME packages because you do not need

[2016-07-12 11:02] jnehring commented on #24
I performed the changes in all FREME maven artifacts. During the next release I will test how good this works out and document how the release process works with the new setup.

[2016-07-14 12:12] jnehring commented on #23
This bug is fixed.

[2016-07-14 12:12] #23 closed

[2016-07-15 09:31] jnehring commented on #24
These changes need to be reflected in the developers guides:

http://api-dev.freme-project.eu/doc/knowledge-base/freme-for-developers/how-to-write-an-eservice.html
http://api-dev.freme-project.eu/doc/knowledge-base/freme-for-developers/creating-a-basic-service.html

[2016-08-01 14:41] jnehring opened #25 "Allow setting admin password by configuration"
When the admin username / password is set via configuration (parameters admin.create, admin.username, admin.password) and the admin username already exists, then the admins password should be updated according to the configuration parameter. This behaviour needs to be noted in the [documentation](http://api-dev.freme-project.eu/doc/knowledge-base/freme-for-sysadmins/configuration-options.html). Th

[2016-08-01 15:27] jnehring opened #26 "Allow setting admin password by configuration"
When the admin username / password is set via configuration (parameters admin.create, admin.username, admin.password) and the admin username already exists, then the admins password should be updated according to the configuration parameter.

[2016-08-01 15:27] jnehring commented on #26
invalid issue

[2016-08-01 15:27] #26 closed

[2016-08-02 11:21] jnehring commented on #22
The bug happened again today.

[2016-08-02 15:18] ArneBinder commented on #25
implemented.

[2016-08-02 16:16] ArneBinder commented on #25
@jnehring please review the [initialising freme article](http://api-dev.freme-project.eu/doc/knowledge-base/freme-for-sysadmins/initialising-freme.html) and [admin parameter section](http://api-dev.freme-project.eu/doc/knowledge-base/freme-for-sysadmins/configuration-options.html#admin).

[2016-08-03 08:06] jnehring commented on #25
Looks good, thank you

[2016-08-03 08:06] #25 closed

[2016-08-03 13:04] jnehring commented on #22
The bug happened again and I could solve it again by restarting the server. I could not find the reason for the problem. I cannot even reproduce it locally. Next step to find the bug: I want to run the broker on my local VM and process a larger dataset (e.g. 1000 documents) with it using the same pipeline that WRIPL uses.

[2016-08-08 13:05] jnehring opened #27 "Fix zabbix logging configuration"
Currently zabbix logs too much. Please reduce the log level so the log files do not get too big. Consider the possibility to leave the log level in place but change the behaviour to be a rolling logfile, so after e.g. 500 mb of log size old log messages get deleted.

[2016-08-09 08:57] jnehring commented on #22
I analysed the content going to FREME. When putting the following content in `/etc/modsecurity/modsecurity.conf` then all content send to FREME is logged in `/var/log/apache2/modsec_audit.log`:

[code]

Through this logging I found out that some special characters lead to crashes in e-Link. Processing a pipeline with the following content leaves 10 open file handles. It was executed on a FREME tes

[2016-08-09 15:22] jnehring opened #28 "Enable https"
In order to allow the new documentation homepage to perform API request we need to add https connections to FREME. The easiest way to do this is using https://letsencrypt.org and adding the certificate to apache. I already added https capabilities to freme-live. Next steps

* Add automatic update of certificate to freme-live
* add both certificate and automatic update of certificate to freme-dev

[2016-08-10 11:21] ghsnd commented on #22
Maybe you can see if it are connections (sockets) and what the connections are with `netstat` ?

[2016-08-10 13:39] jnehring commented on #28
done

[2016-08-10 13:39] #28 closed

[2016-08-11 08:20] jnehring commented on #22
The problem does not occur any more on freme-live. We have an apache webserver on freme-live that proxies the requests to our API. This proxy was not configured properly, the module [mod_xml2enc](https://httpd.apache.org/docs/trunk/mod/mod_xml2enc.html) was not installed. Therefore special characters got mangled up. These special characters caused the open streams. I installed mod_xml2end and now

[2016-08-15 07:28] jnehring commented on #22
The bug still occurs.

[2016-08-16 12:03] ArneBinder commented on #27
I set the `LogFileSize` to 500 (see [here](https://www.zabbix.com/documentation/3.0/manual/appendix/config/zabbix_server)) and reloaded the config via `sudo zabbix_server -R config_cache_reload`, like described [here](https://www.zabbix.com/documentation/3.0/manual/concepts/server).

[2016-08-16 12:08] ArneBinder commented on #27
Wait until `zabbix_server.log` is grown to 500mb and check, if log rotation works.

[2016-08-16 17:31] ArneBinder commented on #27
The log file still grows above 5mb.

[2016-08-16 18:03] ArneBinder commented on #27
I reset zabbix `LogFileSize=0` and added `size 500m` to `/etc/logrotate.d/zabbix-server-mysql`. But this seems to have no effect either.

[2016-08-16 18:29] ArneBinder commented on #27
Removed old rotated logs.

[2016-08-16 18:53] ArneBinder commented on #27
Switched to daily rotation.

[2016-08-17 07:16] jnehring commented on #27
This seems to be quiet complicated. How about deleting part of the logs via cronjob once per day?

[2016-08-17 16:14] xFran commented on #22
Under what OS is running your server?
Who is the owner/group of the files of FREME NER application?
Please run for me in the command line as root the following command "ulimit -a" and send me the output please.

[2016-08-18 07:44] ghsnd commented on #22
And can you dump the heap of the java process(es), when there a many open files, like so:

    jmap -dump:format=b,file=<filename>.bin <pid>

where `<pid>` is the id of the java process.

Then, opening this file(s) in visualvm or jvisualvm (part of the JDK), might allow to see instances of Streams, Files, Sockets, or whatever causes the problem and where they are initialised.

So can you do this,

[2016-08-18 08:56] jnehring commented on #22
@xFran I send you the data via email.

[2016-08-18 09:25] xFran commented on #22
@jnehring answered via email. Please let me know if any issues or improvements.

[2016-08-18 15:07] ghsnd commented on #22
It seems that there are 98  `com.hp.hpl.jena.sparql.engine.http.HttpQuery` instances. These contain SPARQL queries posed to a service on port 8890/sparql. Each instance initialises an `org.apache.http.impl.client.DecompressingHttpClient`. Each such instance initialises an `org.apache.http.iml.conn.PoolingClientConnectionManager`. Each pool can have a number of connections (10, I think). In any cas

[2016-08-18 15:09] ghsnd commented on #22
It's mostly about CONSTRUCT queries.

[2016-08-18 15:43] ghsnd commented on #22
I pushed some changed to `eu.freme.eservices.elink.api.DataEnricher`, where some resources were not (always) closed in [DataEnricher](https://github.com/freme-project/e-services/blob/6bff5f0ea00de93332cdce432e2a60de7812871e/e-link/src/main/java/eu/freme/eservices/elink/api/DataEnricher.java).
Most important one on [line 92](https://github.com/freme-project/e-services/blob/6bff5f0ea00de93332cdce432

[2016-08-18 15:47] ghsnd commented on #22
I pushed some changes in [DataEnricher](https://github.com/freme-project/e-services/blob/6bff5f0ea00de93332cdce432e2a60de7812871e/e-link/src/main/java/eu/freme/eservices/elink/api/DataEnricher.java). The most important one is a statement iterator that was not closed, on [line 92](https://github.com/freme-project/e-services/blob/6bff5f0ea00de93332cdce432e2a60de7812871e/e-link/src/main/java/eu/freme

[2016-08-18 15:52] ghsnd commented on #22
Remark: I **didn't test!**. Hope I didn't close too much or too early :)

[2016-08-22 08:00] jnehring commented on #22
I manually triggered the re-build and then it re-build the project. Tested e-Link, still works. I will do the release and then we can see if it fixes the bug.

[2016-08-23 08:39] jnehring opened #29 "Jenkins Job fail"
Many Jenkins Job fail with this error message. Usually it works when I hit build again for some times but this is very annoying and leads to a lot of questions like "we is my update not deployed on freme-dev?"

[code]

[2016-08-23 09:42] jnehring commented on #22
I have installed the new version of e-link that @ghsnd created on freme-live during https://github.com/freme-project/technical-discussion/issues/122

Lets hope that this solves the problem

[2016-08-23 09:47] jnehring opened #30 "Implemenet NIF 2.1 in plaintext->NIF converter"

[2016-08-23 10:50] jnehring commented on #29
As suggested in a Jenkins forum, I restarted Jenkins. It seems it works better now. I leave this issue open because I am not sure if it is really fixed now.

[2016-08-23 11:21] jnehring commented on #30
This cURL

[code]

produces

[code]

So I have implement the new method to encode the offset in the URI. The datatype of beginIndex and endIndex was already xsd:nonNegativeInteger so there was no need to change that.

@m1ci does this look correct?

[2016-08-23 11:32] m1ci commented on #30
perfect, only the nif:String is not necessary.

[2016-08-23 12:23] jnehring commented on #29
I upgraded Jenkins to the latest version and restarted. The problem seems to be gone.

[2016-08-23 12:26] jnehring commented on #30
I removed the nif:String. So this issue is finished.

[2016-08-23 12:26] #30 closed

[2016-08-24 07:27] jnehring commented on #29
The bug still occurs

[2016-08-24 08:06] jnehring commented on #29
I upgraded all the plugins also. Then I build 5 jobs and the error did not occur once. So I think it is fixed.

[2016-08-24 08:06] #29 closed

[2016-08-24 12:23] jnehring opened #31 "Add nif-version parameter to conversion from plaintext to NIF"

[2016-08-25 14:41] jnehring commented on #31
Implemented for tilde e-translation and tilde-e-terminology. still needs to be done for freme-ner.

[2016-08-29 08:02] jnehring commented on #22
The bug is still there but it is not as problematic as before. Since friday FREME was used a lot and now there are 2467 open files. I cannot easily determine the exact amount of requests but last weekend FREME would have produced more open files and would have crashed.

[2016-08-29 08:32] ghsnd commented on #22
It could be that there are still other resources not being closed somewhere else in the code. If you can make a heap dump again, I will take a look.
Another explanation is that the bug was not fixed, but that it is not triggered as much as before.

Or... all partners double search some part of the code base for resources that are not closed ;)

[2016-08-29 08:38] jnehring commented on #22
I restarted FREME live so it does not crash so all open files are gone. I will do another heap dump but I need to wait for a couple of days so there are some open files.

[2016-08-29 12:24] jnehring commented on #27
This is finished.

[2016-08-29 12:24] #27 closed

[2016-08-30 07:42] jnehring commented on #31
FREME NER will be implemented in https://github.com/freme-project/freme-ner/issues/142
the rest is done

[2016-08-30 07:42] #31 closed

[2016-08-30 08:33] jnehring commented on #22
I found one more stream that is not closed properly in the SPARQL converters controller and added the finally statement to it. It is a stream that writes a SPARQL SELECT queries result set to CSV, XML or JSON format.

[2016-08-30 10:14] ArneBinder commented on #24
This is implemented.

[2016-08-30 10:14] #24 closed

[2016-09-01 08:06] jnehring opened #32 "Update list of 3rd party libraries"
Please update the list of 3rd party libraries for each repository.

[2016-09-01 13:23] ghsnd commented on #22
Closed some resources [here](https://github.com/freme-project/e-services/commit/3f5d9c1f84cb68df78fd17a37c307d47a749d08e).

[2016-09-01 13:38] jnehring commented on #22
Thanks @ghsnd . I wanted to create the heap dump today but the too many open files bug happened again and when it happened I cannot create the heap dump. Will try again...

[2016-09-06 09:56] jnehring commented on #22
I created a new memory dump, in a state when the system had 3506 open files and was shortly before crashing. However the latest open streams that @ghsnd and me fixed here are still not installed on freme-live. So next week after the Semantics I want to release and store the latest state on freme-live because maybe the bug has already bin fixed.

[2016-09-12 12:21] ArneBinder opened #33 "Accumulate all RDF related constants in RDFConstants"
In order to avoid problems like https://github.com/freme-project/freme-ner/issues/151 all these constants should be accumulated at a central location. Furthermore, they should be used strictly.

[2016-09-12 13:43] ArneBinder commented on #33
The content of basic-services/internalization/.../RDFConstants is moved to FREMECommon and JenaRDFConversionService has static string fields JENA_TURTLE and JENA_JSON_LD. So this is implemented.

[2016-09-12 13:43] #33 closed

[2016-09-12 17:31] ArneBinder commented on #32
@jnehring I modified the [Maven Apache License Util](https://github.com/ArneBinder/MavenApacheLicenseUtil) to adapt the changes of the architecture update. I prepared a [licenses.tsv](https://drive.google.com/open?id=0B0tkh6Bg_AK5MzdKUXRCLW9pUDQ) including license annotation for nearly all modules included in FREME. Just `org.linkeddatafragments:ldf-client:0.1` is missing. Some (FREME) versions ar

[2016-09-13 15:09] ArneBinder commented on #32
I added the missing infromation for `org.linkeddatafragments:ldf-client:0.1` and some modules for the documentation (Saxon-CE, backbone, bootstrap, handlebars, highlight, html-proofer, htmlEncode, jekyll, jquery, jquery-ui, jquery.ba-bbq, jquery.smartmenus, jquery.wiggle, js-yaml, jsoneditor, lodash, marked, pages-gem, smartmenus-bootstrap, swagger-ui, underscore).

[2016-09-19 09:49] jnehring commented on #22
i added a script to the crontab of freme live that restarts freme live every midnight as a temporary solution to the problem.

[2016-09-19 11:00] bjdmeest opened #34 "api-dev/current 400 (works on api/current)"
The following returns a 400 on api-dev, but works on api

[code]

[2016-09-19 20:07] ArneBinder commented on #32
added 3rd party license files.

[2016-09-20 16:03] ArneBinder commented on #32
@jnehring should the license file headers be updated / added, too?
This could be done easily by executing the maven goal `license:format` at every repo root. I moved the configuration for the plugin (`com.mycila:license-maven-plugin`) from FREMECommon to freme-parent, so this works with projects using `freme-parent:0.10-SNAPSHOT` as parent.

[2016-09-21 07:11] jnehring commented on #32
yes the license headers should be updated to. @bgrusdt please update the license headers.

[2016-09-26 08:27] jnehring opened #35 "Release FREME 0.10"

[2016-09-26 14:31] jnehring commented on #35
done. released

* freme-parent
* fremecommon
* basic-services
* e-services
* freme-packages
* documentation

Then updated live versions of

* broker
* freme ner
* documentation homepage

[2016-09-26 14:31] #35 closed

[2016-09-26 14:38] jnehring commented on #22
I installed a new version of the broker and freme ner and switched off the cronjob to restart freme. lets keep our fingers crossed that this solves the issue

[2016-09-27 08:22] jnehring commented on #22
About 20 hours after the release the number of open files was 2300. So this problem is still not fixed.

[2016-09-27 13:23] ArneBinder opened #37 "[OwnedResourceManagingController] abstract method will break code"
@sandroacoelho is there any reason for [this commit](https://github.com/freme-project/FREMECommon/commit/e4529874e6915f825baf46920d2b01e78d3daa7d)? It breaks implementations of `OwnedResourceManagingController` because this method is not implemented (and not necessary) in all other cases except freme-ner, so the modules are no longer compatible with `FREMECommon:0.11-SNAPSHOT`.

Affected modules:

[2016-09-27 13:26] ArneBinder commented on #34
The request mentioned above works at live and dev. Can we close this?

[2016-09-27 13:29] jnehring commented on #34
yes this works now. @bjdmeest is the problem solved for you? can you close the issue?

[2016-09-27 13:54] jnehring commented on #37
I removed the abstract modifier. As @ArneBinder pointed out it causes compilation errors all over FREME and I dont see an advantage.

@sandroacoelho what do you want to achieve?

[2016-09-27 15:31] sandroacoelho commented on #37
Hi @jnehring , @ArneBinder

When we delete some dataset from FREME-NER, it just removes from MySQL. I guess that
```protected void preDelete(DatasetMetadata entity) ```was projected to keep consistency between MySQL - Solr as we can see at [FremeNerManageDatasets.java](
https://github.com/freme-project/freme-ner/blob/11ba41dda8d3571e3c7ac2d1facd23319b282592/src/main/java/org/elinker/core/rest/Frem

[2016-09-28 08:08] jnehring commented on #37
Are you sure that the preDelete function of FremeNerManageDataset is not executed? Maybe you can add a log message to the function. When you delete a dataset and you do not see the log message then you know it is not executed.

[2016-09-28 09:47] sandroacoelho commented on #37
Hi @jnehring ,

I tested it using our FREME-DEV instance and figure out that is not working as well. Then I called preDelete using JUNIT and the dataset was deleted

[2016-09-28 09:57] m1ci commented on #37
@sandroacoelho
1) tried to create dataset at FREME dev using the tutorial page https://api-dev.freme-project.eu/doc/tutorials/entity-recognition-against-custom-dataset.html - it was successfully created
2) checked if solrdev successfully processed the dataset - it was successfully processed
3) remove the dataset using the tutorial page https://api-dev.freme-project.eu/doc/tutorials/entity-recognit

[2016-09-28 10:53] ghsnd commented on #22
Today I found [this](http://superuser.com/questions/401066/find-what-process-is-on-the-other-end-of-a-pipe#401619), since it's the number of 'pipes' that increases... Soon to be checked.

[2016-09-28 10:56] sandroacoelho commented on #37
Hi @m1ci ,

I am wrong. It works through tutorial page.

[2016-09-28 10:56] #37 closed

[2016-09-28 15:33] ghsnd commented on #22
A dump of the threads reveals a lot of this kind of threads (and their number grows over time):

[code]

This doesn't say much, but AbstractMultiworkerIOReactor is used in CloseableHttpAsyncClientBase, which is used in the Spring MVC framework and in the Spring HTTP client. To be investigated further...

[2016-09-29 07:37] jnehring commented on #22
I read [this article](http://www.tomcatexpert.com/blog/2010/04/01/configuring-jdbc-pool-high-concurrency) about JDBC database connections in high concurrency scenarios and therefore added this configuration to freme live. Maybe the open connections are database connections. So now there is a maximum number of open database connections and further no database connection will be alive for more then

[2016-10-06 09:21] bjdmeest commented on #34
Works! Thanks!

[2016-10-06 09:21] #34 closed

[2016-10-07 06:45] bjdmeest opened #38 "e-translation/tilde 500"
The following command fails:

[code]

gives following error:
[code]

[2016-10-07 06:57] andish commented on #38
Seems that FREME server is released with configuration that contains E-translation url to Tilde development environment. As this is in configuration we shouldn't wait until next release but could be changed in any time. @jnehring am I right?

[2016-10-10 08:09] jnehring commented on #38
I will change this.

[2016-10-10 13:33] jnehring commented on #38
I changed the Tilde MT endpoint for the live version of FREME. Above CURL works now.

@bjdmeest can you please verify and close the issue when it works?

[2016-10-10 14:12] bjdmeest commented on #38
Great, thanks!

[2016-10-10 14:12] #38 closed

[2016-10-19 11:47] jnehring opened #39 "Upload artifacts to maven central"
Currently all our maven artifacts reside on a nexus installation on the freme-dev server. We will upload it to Maven central so the artifacts can live after the projects lifetime.

This is the guide how this works: https://maven.apache.org/guides/mini/guide-central-repository-upload.html

[2016-10-20 08:14] jnehring commented on #32
Execute mvn license.format first, then mvn test. Then commit and push to git.

Please update these repositories

* freme-parent
* basic-services
* e-services

[2016-10-20 08:30] jnehring commented on #39
* make a new branch of fremecommon
* change version number to 0.1 in pom.xml
* apply changes in the guide
* use mvn:deploy to upload the artifact to maven central

[2016-10-20 14:22] bgrusdt commented on #32
I added the license headers to the three repositories, freme-parent, basic-services and e-services. There are no problems in Jenkins.

[2016-10-20 14:22] #32 closed

[2016-10-27 11:01] jnehring commented on #39
When you have uploaded an artifact to maven central, please write a guide on how to upload an artifact. Currently I do not know which information the guide will contain so please collect all important information and links on how to upload an artifact here in this issue.

[2016-10-28 11:30] bgrusdt commented on #39
## Upload artifacts to the Central Repository
All FREME artifcats can be found in the
[Central Repository](http://central.sonatype.org/?__hstc=239247836.b459aee40da923fa4a45645a31cddadf.1477582531140.1477582531140.1477605428269.2&__hssc=239247836.1.1477605428269&__hsfp=190473045&__utma=246996102.1998389910.1476968965.1477571303.1477605428.9&__utmb=246996102.2.10.1477605428&__utmc=246996102&__utmx=

[2016-11-09 14:12] jnehring commented on #39
* Please try to change the group id to eu.freme. ...
* check for scala-projects since it was mentioned that fake ones are needed
* Jan created freme-developer user and put it in the FREME keystore. Please give this user read / write access to snapshots and releases, no admin rights for maven central.
* Please give all rights to freme-admin user.
* Try to add the PGP key (or keys) to the keystore.

[2016-11-16 04:42] sandroacoelho opened #40 "JSON-LD not compliance with the standard"
Hi @m1ci , @jnehring

Our current [JSON-LD produced by FREME Common Module](https://api-dev.freme-project.eu/current/e-entity/freme-ner/documents?language=en&dataset=dbpedia&mode=all&outformat=json-ld&informat=text&input=Diego%20Maradona%20is%20from%20Argentina.&nif-version=2.1) is not fully compliance with the standard. The problems are:

**1.** Context should be just an URL that represents all o

[2016-11-18 13:32] m1ci commented on #40
The JSON-LD is generated by Jena. So I would say that it is compatible.

No, contexts can be also provided as part of the document. Not needed to be hosted somewhere and referenced via URI.

OK, but this does not mean that the JSON-LD output is not according to the standard.

I don't understand what you mean by "not mapped"? In the context there is
`
"itsrdf" : "http://www.w3.org/2005/11/its/rdf#"

[2016-11-21 08:18] jnehring opened #41 "Release FREME 0.12"
We will do a release later this week (I think wednesday is a good day) to install some bugfixes in the live version to prepare for SWIB conference. This will fix

* freme ner because of
    * https://github.com/freme-project/freme-ner/issues/161#issuecomment-261569022
    * [most frequent sense](https://github.com/freme-project/freme-ner/issues/160)
    * https://github.com/freme-project/freme-ner

[2016-11-22 12:24] jnehring commented on #40
I think we should trust the Jena library. Further m1ci discussed that we can leave it as it is.

There is only one thing, about the jsonld-context. What exactly does that mean? Do we need to rely on an  external API when we use this context? And what would this change mean for the implementation? Do we need to change the output of each e-Service in case the output format is JSON-LD?

[2016-11-22 13:24] m1ci commented on #40
It  allows clients to use shortcut terms, like the first name of a mutual friend, to communicate more quickly but without losing accuracy. It's quite practical cause it simplifies the JSON-LD. For more see https://www.w3.org/TR/json-ld/#the-context

No, there is no need to rely on any external API.

Instead of using Jena for generating JSON-LD we will use the library of Sandro. @sandroacoelho plea

[2016-11-23 09:50] jnehring opened #42 "developer tags in pom.xml files"
This issue collects all developer annotations (developer name + email address) for all freme artifacts.

[2016-11-23 09:50] jnehring commented on #39
done

done but needs to be checked again. we will upload all artifacts and see if there is a problem with freme
ner

done

pending

this needs to be tested with the freme-developer user before we can add the key to the keystore

removed the tags, uploaded it to the stating repo. this worked out, but it is not published on maven central.

Next steps

* move freme-common pom.xml to a branch. set the

[2016-11-23 10:06] m1ci commented on #42
For FREME NER and e-Entity pom:
- Milan Dojchinovski (milan.dojchinovski@fit.cvut.cz)
- Sandro Coelho (sandroacoelho@gmail.com )

For e-Services pom and e-link and dbpedia-spotlight poms:
- Milan Dojchinovski (milan.dojchinovski@fit.cvut.cz)

In dataset-conversion-scripts pom for [grid-scripts pom](https://github.com/freme-project/dataset-conversion-scripts/blob/master/grid-scripts/pom.xml)
- Mila

[2016-11-23 14:23] pheyvaer commented on #42
e-Publishing, e-Services:
Gerald Heasendonck (gerald.haesendonck@ugent.be)
Pieter Heyvaert (pheyvaer.heyvaert@ugent.be)

pipelines, batch-processing-tool:
Gerald Heasendonck (gerald.haesendonck@ugent.be)

[2016-11-23 15:17] katia-vistatec commented on #42
VistaTEC developers for e-internationalization:

Marta Borriello (marta.borriello@vistatec.com)
Katia Iacomussi (katia.iacomussi@vistatec.com)

[2016-11-24 09:29] jnehring commented on #41
finished

[2016-11-24 09:29] #41 closed

[2016-11-29 09:56] jnehring commented on #42
Add the developers Jan Nehring (jan.nehring@dfki.de), Jonathan Sauder (jonathan.sauder@dfki.de), Arne Binder (arne.binder@dfki.de), Britta Grusdt (choose your favorite email)

* basic-services/package-maker: Jan
* basic-services/test-helper: Jan, Arne, Jonathan
* basic-services/controllers/nifconverter: Arne
* basic-services/controllers/sparql-converters: Arne
* basic-services/controllers/users: J

[2016-11-30 10:11] bgrusdt commented on #42
This is done.

[2016-11-30 10:11] #42 closed

[2017-01-05 14:30] jnehring commented on #39
All steps above done.

Please check if there is a way to gpg sign the artifacts only during release so normal developers do not need to setup gpg.

[2017-01-07 15:40] bgrusdt commented on #39
I think this can be done with profiles in the pom file. I added what I think is necessary, there was some information about this in the [documentation](http://central.sonatype.org/pages/apache-maven.html#performing-a-release-deployment-with-the-maven-release-plugin)
I tried to do a release for freme-parent to see if it worked, but that did not work out, but I think because I did not do it correctl

[2017-01-10 11:32] jnehring commented on #39
I released freme-parent, freme-common, basic services ,freme-ner and epublib and uploaded them to maven central: http://oss.sonatype.org/content/repositories/snapshots/eu/freme-project/

Currently we are waiting for https://github.com/freme-project/e-Link/issues/74 because this is the blocker to upload e-services and freme-packages to maven central.

I think [this is the link](https://api-dev.frem

[2017-01-11 15:50] jnehring commented on #39
This task is done

[2017-01-11 15:50] #39 closed

[2017-01-18 09:41] jnehring opened #43 "Missing data on the live server"
Some data is missing in the live version

* https://api.freme-project.eu/data
* https://api.freme-project.eu/datasets
* https://api.freme-project.eu/solr.tar.gz

Please copy the data from our old live server to your new server.

[2017-01-23 09:38] jnehring commented on #43
This was done by @munnellg . But I mentioned that some data was missing in the /datasets folder which I copied to the datasets folder. Can you please execute from rv1460.1blu.de server

[code]

One file that is missing is

http://api.freme-project.eu/datasets/gwpp/gwpp-dataid.ttl
http://rv1460.1blu.de/datasets/gwpp/gwpp-dataid.ttl

[2017-01-23 09:53] m1ci commented on #43
@jnehring  Should I deliver this? or we have it?

[2017-01-23 10:42] jnehring commented on #43
The file is already there. I copied them today morning. The two links are for @munnellg so he can test if the right data was transfered.

[2017-01-23 14:56] munnellg commented on #43
@jnehring I've added that file to our server. It should be available to you now

[2017-01-23 16:13] jnehring commented on #43
Its not only this file but also some others. E.g. https://api.freme-project.eu/datasets/dbpedia-abstracts/dbpedia-abstracts-dataid.ttl . There are quiet a lot of files. I uploaded all data to http://rv1460.1blu.de/datasets . When you execute the rsync command i posted above it should transfer all missing files to your server.

[2017-01-23 16:30] munnellg commented on #43
@jnehring Ah, sorry about that. Should be all fixed now!

[2017-01-24 09:26] jnehring commented on #43
thanks. now its fine!

[2017-01-24 09:26] #43 closed